/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.item-box {
  background-color: #FFF;
  width: 90%;
  max-width: 1040px;
  padding: 40px 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box .name {
  text-align: center;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1;
  position: relative;
  margin-bottom: 20px;
}

.item-box .name span{
  background-color: #fff;
  display: inline-block;
  padding: 6px 20px;
  position: relative;
  z-index: 2;
}

.name-deco{
  display: inline;
  width: 0;
  height: 0;
}
.name-deco::before,.name-deco::after{
  content: '';
  background-color: #3CCACE;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 1;
}
.name-deco::before{
  top: -6px;
  left: -6px;
}
.name-deco::after{
  bottom: -6px;
  right: -6px;
}


.item-show .item-img-content{
  width: 90%;
  max-width: 640px;
}

.item-box-img {
  height: 36vw;
  max-height: 320px;
  width: 100%;
  background-color: #e9eef0;
  object-fit: contain;
  vertical-align: bottom;
}

.item-price-box {
  margin: 24px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box .item-price {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
}

.item-price-box .item-postage {
  font-size: 1.6rem;
}

.item-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  border-radius: 40px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFF;
  padding: 12px 64px;
}

.or-text {
  font-size: 20px;
  margin: 0 20px;
}

.item-destroy {
  background-color: lightgray;
  border-radius: 40px;
  text-align: center;
  font-size: 2.4rem;
  color: black;
  padding: 12px 40px;
}

.item-explain-box {
  margin: 40px 0;
  font-size: 1.8rem;
  line-height: 1.7;
  text-align: center;
  overflow-wrap: anywhere;
}

.item-explain-box span{
  padding-bottom: 4px;
  border-bottom: 3px dotted #3CCACE;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

@media screen and (max-width:1120px){
  .item-box {
    padding: 40px 40px;
  }
  
  .item-box .name {
    font-size: 2.4rem;
  }

  .item-price-box .item-price {
    font-size: 3.0rem;
  }
  
  .item-price-box .item-postage {
    font-size: 1.5rem;
  }

  .item-red-btn {
    font-size: 2.2rem;
    padding: 10px 56px;
  }
  
  .or-text {
    font-size: 1.8rem;
    margin: 0 20px;
  }
  
  .item-destroy {
    font-size: 2.2rem;
    padding: 10px 40px;
  }
  
  .item-explain-box {
    margin: 40px 0;
    font-size: 1.8rem;
    line-height: 1.7;
    text-align: center;
    overflow-wrap: anywhere;
  }
}

@media screen and (max-width:700px){
  .item-show {
    padding: 16px 0;
  }
  
  .item-box {
    padding: 8vw 4vw;
  }
  
  .item-box .name {
    font-size: 2.0rem;
    margin-bottom: 16px;
  }
  
  .item-box .name span{
    padding: 4px 16px;
  }

  .name-deco::before,.name-deco::after{
    width: 18px;
    height: 18px;
  }
  .name-deco::before{
    top: -4px;
    left: -4px;
  }
  .name-deco::after{
    bottom: -4px;
    right: -4px;
  }
  
  .item-box-img {
    height: 40vw;
  }

  .item-price-box {
    margin: 8px 0px 16px;
  }
  
  .item-price-box .item-price {
    font-size: 2.8rem;
  }
  
  .item-price-box .item-postage {
    font-size: 1.3rem;
  }
  
  .item-red-btn {
    font-size: 1.6rem;
    padding: 8px 32px;
  }
  
  .or-text {
    font-size: 1.4rem;
    margin: 0 8px;
  }
  
  .item-destroy {
    font-size: 1.6rem;
    padding: 8px 20px;
  }
  
  .item-explain-box {
    margin: 24px 0;
    font-size: 1.6rem;
  }
  
  .detail-item {
    width: 32%;
    font-size: 1.2rem;
  }
  
  .detail-value {
    width: 68%;
    padding: 12px 8px;
    border: 1px solid #dedede;
    font-size: 1.3rem;
  }

  .option {
    justify-content: center;
    font-size: 1.4rem;
  }
  
  .favorite-btn {
    width: 80%;
    margin-right: 0;
    padding: 6px;
    margin-bottom: 12px;
  }
  
  .report-btn {
    width: 80%;
    padding: 6px;
  }
  
}


/* /商品の概要 */

.comment-box {
  width: 80%;
  max-width: 640px;
  background-color: #fff;
  margin: 5vh 0;
  padding: 24px;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 2.4rem;
  text-decoration: none;
  color: #6b7c81;
  font-weight: bold;
  position: relative;
}

.change-item-btn._rear{
  padding-left: 48px;
}

.change-item-btn._next{
  padding-right: 48px;
}

.change-item-btn._rear::after,.change-item-btn._next::after{
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.change-item-btn._rear::after{
  background: no-repeat center/contain url('item-rear-icon.png');
  left: 0;
}

.change-item-btn._next::after{
  background: no-repeat center/contain url('item-next-icon.png');
  right: 0;
}


.another-item {
  display: block;
  margin: 32px 0;
  padding-bottom: 0.2rem;
  color: #000;
  font-size: 2.2rem;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px solid #000;
  
}

@media screen and (max-width:700px){
  .comment-btn {
    line-height: 1;
    width: 72%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4px 0;
  }

  .comment-flag-icon {
    width: 16px;
    height: 28px;
    margin: 0 6px 0 0;
    padding-bottom: 4px;
  }

  .links {
    width: 90%;
  }
  
  .change-item-btn {
    font-size: 4.8vw;
  }
  
  .change-item-btn._rear{
    padding-left: 7.2vw;
  }
  
  .change-item-btn._next{
    padding-right: 7.2vw;
  }
  
  .change-item-btn._rear::after,.change-item-btn._next::after{
    width: 4.4vw;
    height: 4.4vw;
  }

  .another-item {
    font-size: 4.4vw;
    
  }
}